/* ##### CSS VARIABLES ##### */
:root {
	--color-scampi: hsl(234, 25%, 52%);
	--color-bunting: hsl(233, 54%, 16%);
	--color-waterloo: hsl(232, 10%, 56%);
	--color-violet-red: hsl(341, 92%, 62%);
	--color-carnation-pink: hsl(341, 100%, 83%);
	--color-white: hsl(0, 0%, 100%);
	--gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
	--gradient-alt: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

	--fontSize-body-small: 1rem;
	--fontSize-body-medium: 1.125rem;
	--fontSize-heading-small: 1.5rem;
	--fontSize-heading-medium: 2rem;
	--fontSize-heading-large: 2.5rem;
	--fontSize-heading-x-large: 3.5rem;

	--space-block: 1rem;
	--space-inline: 1rem;
}

/* Tiene que haber algunas propiedades base */
* {
	box-sizing: border-box;
}
body {
	font-family: "Plus Jakarta Sans", sans-serif;
	margin: 0;
}
img {
	max-width: 100%;
}
.flex-container,
.grid-container {
	margin-inline: var(--space-inline);
	border: 1px solid hsl(308, 100%, 28%);
}
.flex-container {
	display: flex;
	justify-content: space-between;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}
.footer .flex-container {
	--space-block: 2rem;
}
.footer {
	background-color: var(--color-bunting);
	margin-top: 200px;
}

/* ##### TOP ##### */
.top {
	padding-block: var(--space-block);
}
.logo {
	display: inline-block;
	max-width: 89px;
	align-self: center;
}
.cta {
	font-size: var(--fontSize-body-small);
	min-width: 140px;
	min-height: 48px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 28px;
	background-color: var(--color-bunting);
	color: var(--color-white);
	border: none;
	font-weight: bold;
}
.cta:hover {
	cursor: pointer;
	background-color: var(--color-scampi);
}

/* ##### INTRODUCTION ##### */
.intro {
	margin-inline: var(--space-inline);
	border: 1px solid hsl(308, 100%, 28%);
	margin-top: 38px;
}
.intro-title {
	font-size: var(--fontSize-heading-large);
	font-weight: 800;
	margin: 0;
}
.intro-copy {
	font-size: var(--fontSize-body-small);
	font-weight: 500;
	color: var(--color-waterloo);
	margin-block: 26px 24px;
}
.intro-cta {
	background: var(--gradient);
	margin-bottom: 46px;
}
.picture-container {
	display: flex;
}
.intro-picture {
	margin-inline: auto;
}

@media (min-width: 498px) and (max-width: 768px) {
	.intro-content {
		max-width: 464px;
		margin-inline: auto;
		text-align: center;
	}
}
@media (min-width: 768px) {
	.flex-container,
	.grid-container,
	.intro {
		--space-inline: 2.5rem;
	}
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem 0.625rem;
	}
	.logo {
		max-width: 12vw;
	}
}
@media (min-width: 1024px) {
	.flex-container,
	.grid-container,
	.intro {
		--space-inline: 10.3125rem;
	}
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 3.5rem 1.875rem;
	}
	.logo {
		max-width: 114px;
	}
	.cta {
		min-width: 167px;
	}
}
