/* ##### CSS VARIABLES ##### */
:root {
	--color-scampi: hsl(234, 25%, 52%);
	--color-bunting: hsl(233, 54%, 16%);
	--color-waterloo: hsl(232, 10%, 56%);
	--color-violet-red: hsl(341, 92%, 62%);
	--color-carnation-pink: hsl(341, 100%, 83%);
	--color-white: hsl(0, 0%, 100%);
	--gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
	--gradient-alt: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

	--fontSize-body-small: 1rem;
	--fontSize-body-medium: 1.125rem;
	--fontSize-heading-small: 1.5rem;
	--fontSize-heading-medium: 2rem;
	--fontSize-heading-large: 2.5rem;
	--fontSize-heading-x-large: 3.5rem;

	--space-block: 1rem;
	--space-inline: 1rem;
}

/* Tiene que haber algunas propiedades base */
* {
	box-sizing: border-box;
}
body {
	font-family: "Plus Jakarta Sans", sans-serif;
	margin: 0;
	background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
.flex-container,
.grid-container {
	margin-inline: var(--space-inline);
}
.flex-container {
	display: flex;
	justify-content: space-between;
}
.footer .flex-container {
	--space-block: 2rem;
}

/* ##### TOP ##### */
.top {
	padding-block: var(--space-block);
}
.logo {
	display: inline-block;
	max-width: 89px;
	align-self: center;
}
.cta {
	font-size: var(--fontSize-body-small);
	min-width: 140px;
	min-height: 48px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 28px;
	background-color: var(--color-bunting);
	color: var(--color-white);
	border: none;
	font-weight: bold;
}
.cta:hover {
	cursor: pointer;
	background-color: var(--color-scampi);
}

/* ##### INTRODUCTION ##### */
.intro {
	margin-inline: var(--space-inline);
	margin-top: 38px;
}
.intro-title {
	font-size: var(--fontSize-heading-large);
	font-weight: 800;
	margin: 0;
}
.intro-copy {
	font-size: var(--fontSize-body-small);
	font-weight: 500;
	color: var(--color-waterloo);
	margin-block: 26px 24px;
	line-height: 1.625;
}
.intro-cta {
	background: var(--gradient);
	margin-bottom: 46px;
}
.intro-cta:hover {
	cursor: pointer;
	opacity: 0.5;
}
.picture-container {
	display: flex;
}
.intro-picture {
	margin-inline: auto;
}

/* ##### GRID CONTAINER ##### */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.5rem;
}
.card-top {
	background: var(--gradient);
	color: var(--color-white);
	padding: 24px 28px 32px;
	border-radius: 10px;
}
.card {
	padding-top: 56px;
	padding-bottom: 32px;
	padding-inline: 28px;
	position: relative;
	background-color: var(--color-white);
	border-radius: 10px;
}
.card-icon {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
}
.card-title {
	margin: 0;
	font-size: 20px;
	font-weight: 800;
	color: var(--color-bunting);
}
.card-text {
	font-weight: 500;
	color: var(--color-waterloo);
	line-height: 1.625;
	margin-top: 16px;
	margin-bottom: 24px;
}
.card-cta {
	margin: 0;
	color: var(--color-violet-red);
	font-weight: 700;
	font-size: var(--fontSize-body-medium);
}
.grid-section {
	padding-bottom: 80px;
}

/* ##### FOOTER ##### */
.footer {
	background-color: var(--color-bunting);
	padding-block: 36px;
}
.footer-cta {
	background: var(--gradient-alt);
}

@media (min-width: 498px) and (max-width: 767px) {
	.intro-content {
		max-width: 464px;
		margin-inline: auto;
		text-align: center;
	}
}
@media (min-width: 768px) {
	.flex-container,
	.grid-container,
	.intro {
		--space-inline: 2.5rem;
	}
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem 0.625rem;
	}
	.logo {
		max-width: 12vw;
	}
	.intro {
		position: relative;
	}
	.intro-content {
		margin-top: 100px;
		margin-bottom: 186px;
		max-width: 395px;
		/* max-width: 45%; */
	}
	.intro-cta {
		margin-bottom: 0;
	}
	.picture-container {
		display: block;
		position: absolute;
		right: -20em;
		top: -10em;
	}
	.grid-container {
		margin-top: 30px;
	}
}
@media (min-width: 1024px) {
	.flex-container,
	.grid-container,
	.intro {
		--space-inline: 10.3125rem;
	}
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 3.5rem 1.875rem;
	}
	.logo {
		max-width: 114px;
	}
	.cta {
		min-width: 167px;
	}
	.intro-content {
		max-width: 50%;
	}
	.picture-container {
		right: -25em;
		top: -10em;
	}
}
@media (min-width: 1120px) {
	.intro-content {
		max-width: 457px;
	}
	.intro-title {
		font-size: var(--fontSize-heading-x-large);
	}
	.intro-copy {
		font-size: var(--fontSize-body-medium);
	}
	.intro-cta {
		font-size: var(--fontSize-body-medium);
	}
	.picture-container {
		right: -35em;
		top: -20em;
	}
}
